<form class = 'quirks' name="create_note" action= "/create" method="POST">
  <div class='notes' align='center' >
    <h3 align='center'>Create Note</h3>
    Title:    <input type='text' name='title'><br>
    <!-- Content:  <input type='text' name='content'><br> -->
    Content:  <textarea cols="40" rows="5" name="content"></textarea>
    <input type="submit" value="Create Note"><br>
  </div>
</form>