<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <nav>
    <ul>
      <div class="menu">
        <ul>
          <li><a href="/">Show All Notes</a></li>
          <li><a href="/create">Create a Note</a></li>
        </ul>
      </div>
    </ul>
  </nav>
  <h1 align='center'>Note Taker!</h1>
  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>
