<div class='notes' align='center'>
<h3 align='center'>Note Contents</h3>
  <%if @one_note%>
  <nav>
    <ul class='notelist'>
        <!-- <li>ID: <%=@one_note.id%></li> -->
        <li>Title: <%=@one_note.title%></li>
        <br>
        <li>Content: <%=@one_note.content%></li>
    </ul>
  </nav>
  <%end%>
</div>